.base-audit {
  width: 350px;
  height: 650px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 20px;
  .dynamicContainer {
    width: 100%;
    height: 100%;
  }
}
