<div class="report-downloader">
  <h1 class="report-downloader_title">Selecciona tu fecha de corte</h1>
  <form [formGroup]="form" class="report-downloader_container-datapicker">
    <mat-form-field appearance="fill">
      <mat-label>Ingresa un rango de fechas</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Fecha de inicio" formControlName="startDate">
        <input matEndDate placeholder="Fecha de fin" formControlName="endDate">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </form>
  <div class="report-downloader_container-spinner">
    <mat-spinner diameter="30" *ngIf="loading"/>
  </div>
  <button class="report-downloader_button" (click)="downloadReport()">Descargar Reporte</button>
</div>
